body{
  background-color: lemonchiffon;
  text-align: center;
}

h1, h2, h3{
  text-align: center;
  color: darkgreen;
}

img{
  width: 90%;
  text-align: center;
}

p{
  text-align: justify;
  font-size: 15pt;
  color: gray;
}

div img{
  width: 40%;
}
div{
  text-align: center;
}

a{
  font-size: 18pt;
  color: orange;
}